body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://source.unsplash.com/random/1920x1080?climate');
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem 0;
    text-align: center;
}
header:hover{
    background-image: url('images/navbarImg.gif');
    
}

nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
  
    margin: 0 1rem;
}
nav ul li:hover{
   
    background: orangered;
    border-radius: 10px;
    font-size: x-large;
    font-weight: bold;
   font-family: cursive;

}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 2rem;
}
h1{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

section {
    margin-bottom: 2rem;
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
}
section:hover{
    background: rgb(188, 234, 118);
    font-size: x-large;
    color: blue;
    border-radius: 20px;
    
}
p:hover{
    color: blue;

}
img{
    width: 30px;
    height: 30px;
    margin: 5px;
}

footer {
    background-color: #4CAF50;
    color: rgb(224, 0, 0);
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
a {
  text-decoration: none;
  color: black;
}
